<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="persion" class="Persion">
    <property name="name" value="lakhan singh"></property>
    <property name="date" value="11-04-2014"/>
   
    </bean>
    <bean id="dtEditor" class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg ref="sdtformat"/>
		 <constructor-arg value="true" />
	</bean>
	
	<bean id="sdtformat" class="java.text.SimpleDateFormat" >
	  <constructor-arg value="dd-MM-yyyy" />
	</bean>
 
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date">
					<ref local="dtEditor" />
				</entry>
			</map>
		</property>
		</bean>
</beans>
    
    